extends ../layouts/default

block content
	.container-fluid
		.row.header
			img.img-responsive.banner(src="images/yurt-assembly3.jpg")
			.header-content
				h1.text-center Yurt Man's Origins
	.container: .jumbotron
		img(src='/images/yurt-logo.png', width='160')
		h1 About Us
		p This is the origin of Yurt Man.
		p More coming soon.